:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  font-family: 'Figtree', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 38px;
  background-color: #010409;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  color: #fff;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: transparent;
  border: 1px solid #3e444c;
  border-radius: 7.5px;
  cursor: pointer;
  color: #fff;
}

.icon-button svg {
  width: 20px;
  height: 20px;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 999px;
  object-fit: cover;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.desktop {
  display: none;
}

.mobile {
  display: none;
}

@media (min-width: 768px) {
  .desktop {
    display: revert;
  }
}

@media (max-width: 767px) {
  .mobile {
    display: revert;
  }
}